

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background:rgba(255,255,255,0.20);
    color: #111; 
font-family: 'Open Sans', sans-serif; 
font-size: 30px; 
font-weight: 300; 
line-height: 32px; 
text-align: left;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #fff;
    background:rgba(255,255,255,0.80);
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
    background-color: white;
   	opacity: .85;
   	background:rgba(255,255,255,0.10);
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}





h1{
	text-align: center;
	color: #111; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 80px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
	
}

h3 { color: #111; 
font-family: 'Open Sans', sans-serif; 
font-size: 30px; 
font-weight: 300; 
line-height: 32px; 
text-align: left; }

.achtergrondkleur{
	background-color:white;
	background:rgba(255,255,255,0.85);
	padding: 50px;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
 

}

body { 
	background-color:transparent;



}

p {
	font-color:"blue";
}




form {
	
	
}

h5{
	
}




